<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Furlenco offers fully themed furniture packages at affordable rates. Monthly rental starts at Rs. 1,500. 72 Hour Set up. Gorgeous homes in one call.">
    <meta name="author" content="Furlenco">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/furlencoImages/favicon_furlenco.png">
    <title>Home Furniture Rental Packages | Furlenco</title>
    <!-- [endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45137706-1']);
      // _gaq.push(['_setAccount', 'UA-60733299-2']);
      _gaq.push(['_trackPageview']);
      
      var google_tag_params = {
        local_id : 'REPLACE_WITH_VALUE',
        local_pagetype : 'REPLACE_WITH_VALUE',
        local_totalvalue : 'REPLACE_WITH_VALUE',
      };
      
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
      
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>
